@import '../../styles';

div.row{
    @include backgroundColor;
    width: 100%;
    top: 30%;
    padding: 0.8rem;
    margin-left: 0;
}

.coupure{
    border-bottom: 1.5px solid $white;
    cursor: pointer;

}

.close{
    float: none;
    position: absolute;
    right: 30px;

    &:hover{
        cursor: pointer;
    }
}