@import '../../styles';

div.row{
    @include backgroundColor;
    width: 100%;
    top: 30%;
    padding: 0.8rem;
    margin-left: 0;
    height: 65px;
    font-size: 20px;
    padding: 20px;
}

.coupure{
    border-bottom: 1.5px solid $white;
    cursor: pointer;

}

i{
    position: absolute;
    font-size: 50px;
    right: 50%;
    bottom: 5%;
    opacity: 0.6;
}