@import '../../styles';

div.row{
    height: 50%;
    width: 100%;
    top: 30%;
    background-color: $primary;
    padding: 0.8rem;
    color: $secondary;
    div.command{
        cursor: pointer;
    }
}

.close{
    float: none;
    position: absolute;
    right: 30px;

    &:hover{
        cursor: pointer;
    }
}