@import '../../styles.scss';

.card-deck
{
    justify-content: center;
    margin-top: 80px;
}

.title
{
    height: 80px;
    width: 100%;
    background-color: $primary;
    text-align: center;
}

.title h1
{
    padding-top: 20px;
    font-weight: bolder;
    color:$secondary;
}

.alert-success
{
    width:100%;
    position: absolute;
    z-index: 5;
    height: 50px;
}

.alert-success p
{
    text-align: center;
    font-size: 18px;
}
  
@import '../../styles.scss';



footer{
    background-color: $primary;
    text-align: center;
    color: $secondary;
    font-size: 1.875rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    cursor: pointer;
}

.opacity{
    opacity: 0.6;
}

.list-command{
    background-color: $primary;
    color: $secondary;
    position: absolute;
    padding: 0.5rem;
    right: 0;
    writing-mode: vertical-lr;
    top: 30%;
    cursor: pointer;
    text-orientation: initial;
}

.pop-up{
    width: 50%;
}