@import '../../styles.scss';

.card-deck
{
    justify-content: center;
    margin-top: 80px;
}

.title
{
    height: 80px;
    width: 100%;
    background-color: $primary;
    text-align: center;
}

.title h1
{
    padding-top: 20px;
    font-weight: bolder;
    color:$white;
}

.alert-success
{
    width:100%;
    position: absolute;
    z-index: 5;
    height: 50px;
}

.alert-success p
{
    text-align: center;
    font-size: 18px;
}
  
footer{
    @include backgroundColor;
    text-align: center;
    font-size: 1.875rem;
    width: 100%;
    position: fixed;
    bottom: 0;
    cursor: pointer;
}

.opacity{
    opacity: 0.6;
}

.list-command{
    @include backgroundColor;
    position: fixed;
    padding: 0.5rem;
    right: 0;
    writing-mode: vertical-lr;
    top: 30%;
    cursor: pointer;
    text-orientation: initial;
    z-index: 9999;
    border: 2px solid transparent;
}

.list-command-click{
    border: 2px solid $white;
}

.pop-up{
    width: 50%;
}

.app-list-command{
    position: fixed;
    right: -15px;
    height: 100%;
    top: 0;
    z-index: 9999;
    opacity: 0.9;
    background-color: $primary;
}