@import '../../styles.scss';

.card :hover {
  cursor: pointer;
}

.card {
  margin-top: 30px;
  justify-content: center;
  border: solid $primary 2px;
  color: $primary;
}

.primary-btn{
  @include backgroundColor;
  border: 1.5px solid $white;
  border-radius: 0.3125rem;
  margin: 2px;
}

.card-title {
  text-align: center;
}

.card-img-top {
  padding: 5px;
}

.add {
  background-color: $white;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  
  i.fa-plus {
    font-size: 151px;
    margin-top: 64px;
    margin-left: 76px;
    color: $primary;
    opacity: 0.8;
  }
}

i.fa-times {
  position: absolute;
  right: 0;
  padding-right: 8px;
  padding-top: 5px;
  color: $primary;
  }