@import '../../styles.scss';

.card :hover {
  cursor: pointer;
}

.card {
  margin-top: 30px;
  justify-content: center;
  border: solid $primary 2px;
}

.card-title {
  text-align: center;
}

.card-img-top {
  padding: 5px;
}

.add {
  background-color: $secondary;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  position: absolute;
  
  i {
    font-size: 151px;
    margin-top: 64px;
    margin-left: 76px;
    color: $primary;
    opacity: 0.8;
  }
}
