<div class="card" style="width: 18rem;" (click)="listPizza ? add() : ''" (mouseenter)="addHover()" (mouseleave)="removeHover()">


  <div *ngIf="displayHover && listPizza" class="add" >
      <i class="fas fa-plus"></i>
  </div>
  
  <img class="card-img-top" width="150px" height="200" src={{pizzaIn.img}} alt={{pizzaIn.name}}>
  <div class="card-body">
    <h5 class="card-title">{{pizzaIn.name}}</h5>
  </div>
  
  <input *ngIf="!listPizza" (change)="update($event)" name="{{pizzaIn.id}}" class="form-control nb" type="text" value="{{pizzaIn.nb}}">
</div>