.card :hover {
  cursor: pointer;
}

.card {
  margin-top: 30px;
  justify-content: center;
  border: solid rgb(241, 97, 71) 2px;
}

.card-title {
  text-align: center;
}

.card-img-top {
  padding: 5px;
}

.add {
  position: absolute;
  background: gray;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  
  i {
    font-size: 151px;
    margin-top: 64px;
    margin-left: 76px;
    color: white;
    opacity: 0.8;
  }
}
