@import '../../styles.scss';


.card-deck
{
    justify-content: center;
    margin-top: 80px;
}

.client
{
    height: 80px;
    width:100%;
    background-color: $primary;

    h1{
        color:white;
        text-align: center;
        font-size: 22px;
        font-weight: bolder;
        padding: 27px;
    }
}

i
{
    align-items: right;
    margin-top: 10px;
    right:0px;
}


.croix
{
    right: 0;
}