@import '../../styles.scss';


.card-deck
{
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 200px;
    margin-right: 0;

    @media screen and (max-width: 572px) {
        margin-left: 22%;
    }
}

i.fa-arrow-alt-circle-left{
    cursor: pointer;
    font-size: 30px;
    position: absolute;
    left: 0;
    top: 0;
    padding: 14px;
    color: $white;
    width: 50px;
}

.client
{
    height: 80px;
    width:100%;
    background-color: $primary;

    h1{
        color:white;
        text-align: center;
        font-size: 22px;
        font-weight: bolder;
        padding: 27px;
        cursor: default;
    }
}

i
{
    align-items: right;
    margin-top: 10px;
    right:0px;
}


.croix
{
    right: 0;
}

.totalPrice{
    @include backgroundColor;
    position: fixed;
    bottom: 0;
    font-size: 1.875rem;
    width: 100%;
    text-align: center;
    cursor: default;

    .payer{
        border-top: 1.5px solid $white;
        cursor: pointer;
        font-size: 2.5rem;
        background-color: $white;
        color: $primary;
    }
}