/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
  }
  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
  }

$primary : rgb(241, 97, 71);
$secondary : gray;
$white : white;

@mixin backgroundColor {
    background-color: $primary;
    color: $white;
}