/* You can add global styles to this file, and also import other style files */

html {
    height: 100%;
  }
  body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    //background: url("https://www.pizza-peperoni-castelsarrasin.com/ressources/images/115df476aadd.jpg");
    //background: url('https://media.giphy.com/media/3kzrzzQXUfI6bmUNf3/giphy.gif');
    background: url("http://hd-wallpapersfd.info/wp-content/uploads/HTML/1920x1080-Blue/1920x1080-Blue78.jpg");
    background-size: cover;

  }

$primary : #4267b2;
$secondary : gray;
$white : white;


@mixin backgroundColor {
    background-color: $primary;
    color: $white;
}